table {
  border: 2px black;
  width: 100%;   
}
  
th, td {
  padding: 8px;
  text-align: center;
}

th{
  background-color: cornflowerblue;
  text-decoration: none;
}

tr:nth-child(odd){
  background-color: #f2f2f2;
  text-align: center;

}

.ed{
  background-color: white;
}

input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  
  button[type=submit] {
    width: 100%;
    background-color: cadetblue ;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type=submit]:hover {
    border: 1px solid #ccc;
  }
  
  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }


div.H{
  background-color: rgb(20, 20, 41);
  padding: 20px;
  width: 100%;
  color: white;
  border-radius: 0px;
  
}
a.H{
  color: white;
  text-decoration: none;
}

a.H:hover{
  background-color: darkslategray;
}

body{
  margin: 0;
}

